<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CMSConnectionString" connectionString="Data Source=localhost;Initial Catalog=KenticoDB;User ID=murfbard;Password=murfbard" providerName="System.Data.SqlClient"/>
    <add name="ClientDatabase" connectionString="Data Source=localhost;Initial Catalog=clientdb;User ID=murfbard;Password=murfbard" providerName="System.Data.SqlClient" />
   </connectionStrings>

  <appSettings>
    <add key="newsPets" value="select onlineusername, email, ONLINEPASSWORD from students where pets = '1' and email like '%@%' and DoNotEmail = '0'" />
    <add key="newsCars" value="select onlineusername, email, ONLINEPASSWORD from students where cars = '1' and email like '%@%' and DoNotEmail = '0'" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

